@font-face {
  font-family: chata;
  src: url(chata.ttf);
}

@font-face {
  font-family: coffee;
  src: url(coffe.ttf);
}
@font-face {
  font-family: thinly;
  src: url(thinly.otf);
}

body{
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  background-color: gray;
}
header{
  width: 100%;
  height: 45px;
  padding: 10px;
  background-color:#BDBDBD;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 600;
}
 header img{
   border-radius: 15px;
   margin: 5px;
   margin-top: 0px;
   width: 45px;
   height: 45px;
   float: left;
 }

header h1{
  color: #303F9F;
  font-family: thinly;
  width: 375px;
  float: left;
  margin: 5px;
  padding-left: 10px;
}

header nav{
  width: 400px;
  height: inherit;
  float: right;
  margin: 0px;
  padding: 0px;
}
nav ul li{
  list-style-type: none;
  float: left;
  display: inline;
}
#portadaimg{
  width: 100%;
  height: 625px;
}
#bajar{
width: 45px;
height: 45px;
position: absolute;
top: 550px;
left: 50%;
z-index: 400;
}

#menu a{
  margin-right: 10px;
  text-decoration: none;
  font-family: thinly;
  font-size: 1.3em;
  font-weight: bold;
  color: #303F9F;
}

#menu a:hover{
  color: white;
  transition: .8s;
}
section img{
  width: 100%;
  height: 625px;
}

#nombre{
  font-family:thinly;
  text-align: center;
  font-size: 2.5em;
  color: white;
  position:absolute;
  top: 45px;
  left: 35%;
  z-index: 400;
  text-shadow: 5px 5px 10px black;
}

#titulo{
  font-family:thinly;
  position: absolute;
  font-size: 2em;
  color: white;
  top: 110px;
  left: 28%;
  z-index: 400;
  text-shadow: 5px 5px 10px black;
}

#mensaje{
  font-family:thinly;
  position: absolute;
  font-size: 1.8em;
  color: white;
  top: 400px;
  left: 18%;
  z-index: 400;
  text-shadow: 2px 2px 5px blue;
  font-weight: bold;
  text-align: center;
  width: 70%;
}

#TEXT{
  font-family: thinly;
  text-align: center;
  font-size: 2em;
  color: white;
  position:absolute;
  top: 700px;
  left: 48%;
  text-shadow: 5px 5px 10px black;
}
#codigos1 {
  font-family: thinly;
  text-align: center;
  font-size: 1.5em;
  color: white;
  position:absolute;
  top: 750px;
  left: 34%;
  text-shadow: 5px 5px 10px black;
}
#codigos2{
  font-family: thinly;
  text-align: center;
  font-size: 1.5em;
  color: white;
  position:absolute;
  top: 750px;
  left: 56%;
  text-shadow: 5px 5px 10px black;
}
#codigo a{
color: white;
}

.contenedor-izq{
width: 550px;
height: 300px;
background-color: #57A4B5;
position: absolute;
top: 1400px;
left: -535px;
box-shadow: 5px 5px 15px #BDBDBD;
border: 1px solid #BDBDBD;
z-index: 400;
padding-left: 15px;
}
.contenedor-izq:hover{
  transition: 0.8s;
  transform: translate(535px);
}

.contenedor-mensaje{
  width: 90%;
  height: 70%,
}

.mensaje-contenedor{
width: 100%;
height: 100%;
text-align: justify;
}

.siguiente{
  width: 45px;
  height: 45px;
  position:absolute;
  top:120px;
  left:93.5%;
}



#lis .regresar{
  width: 45px;
  height: 45px;
  position:absolute;
  top:95px;
  left:-5px;
}

#galee{
  font-family: thinly;
  text-align: center;
  font-size: 2em;
  color: white;
  position:absolute;
  top: 1320px;
  left: 48%;
  text-shadow: 5px 5px 10px black;
}
input{
  border-radius: 15px;
}
#s1{
  font-family: thinly;
  text-align: center;
  font-size: 1.5em;
  top: 1980px;
  left: 18%;
  color: white;
  position:absolute;
  text-shadow: 5px 5px 10px black;
}
footer h2{
  position: absolute;
  text-align: center;
  font-family: thinly;
  color: white;
  font-size: 2em;
  top: 2580px;
  left: 45%;
}
#s2{
  font-family: thinly;
  border-style: solid;
  text-align: center;
  background-color: white;
  padding-right: 50px;
  font-size: 1.5em;
  top: 2700px;
  left: 34%;
  color: black;
  position:absolute;
  text-shadow: 5px 5px 10px black;
}
#imgcont1{
  position: absolute;
  border-radius: 20px;
  top: 2850px;
  left: 45%;
  width: 50px;
  height: 50px;
}
#imgcont2{
  position: absolute;
  border-radius: 20px;
  top: 2850px;
  left: 55%;
  width: 50px;
  height: 50px;
}
