*{
  padding: 0px;
  margin: 0px;
}
/*.home{
  display: flex;
  flex-wrap:
}
.in-flex{
  flex: 1;
  min-width: 250px;
}
.in-flex:first-child{
  flex: 2;
  padding: 25px;
  background-color: #fff;
  margin: 20px;
  margin-bottom: 0px;
}
in-flex div{
  padding: 25px;
  background-color: #fff;
  margin: 20px;
}*/
@font-face {
  font-family: chata;
  src: url(chata.ttf);
}

@font-face {
  font-family: coffee;
  src: url(coffe.ttf);
}
@font-face {
  font-family: thinly;
  src: url(thinly.otf);
}

body{
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  background-color: gray;
}
header{
  width: 100%;
  height: 45px;
  padding: 10px;
  background-color:#BDBDBD;
  position: fixed;
  top: 0px;
  overflow: hidden;
  z-index: 600;
}
 header img{
   border-radius: 15px;
   margin: 5px;
   margin-top: 0px;
   width: 45px;
   height: 45px;
   float: left;
 }

header h1{
  color: #303F9F;
  font-family: thinly;
  width: 375px;
  float: left;
  margin: 5px;
  padding-left: 10px;
}

header nav{
  float: right;
  padding-top: 13px;
  padding-right: 10px;
}
nav ul li{
  display: inline;
}
#portadaimg{
  width: 100%;
  height: 625px;
}
#bajar{
width: 45px;
height: 45px;
position: absolute;
top: 550px;
left: 50%;
z-index: 400;
}

#menu a{
  margin-right: 10px;
  text-decoration: none;
  font-family: thinly;
  font-size: 1.5em;
  font-weight: bold;
  color: #303F9F;
}

#menu a:hover{
  color: white;
  transition: .8s;
}
section img{
  width: 100%;
  height: 625px;
}

#nombre{
  font-family:thinly;
  text-align: center;
  font-size: 2.5em;
  color: white;
  position:absolute;
  top: 75px;
  left: 35%;
  z-index: 400;
  text-shadow: 5px 5px 10px black;
}

#titulo{
  font-family:thinly;
  position: absolute;
  font-size: 2em;
  color: white;
  top: 130px;
  left: 28%;
  z-index: 400;
  text-shadow: 5px 5px 10px black;
}

#mensaje{
  font-family:thinly;
  position: absolute;
  font-size: 1.8em;
  color: white;
  top: 400px;
  left: 18%;
  z-index: 400;
  text-shadow: 2px 2px 5px blue;
  font-weight: bold;
  text-align: center;
  width: 70%;
}
/* Esta parte pertenece a la seccion de Codigos*/
#TEXT{
  font-family: thinly;
  text-align: center;
  font-size: 2.5em;
  color: white;
  position:absolute;
  top: 80px;
  left: 48%;
  text-shadow: 5px 5px 10px black;
}
#codigos1 {
  font-family: thinly;
  text-align: center;
  font-size: 1.5em;
  color: white;
  position:absolute;
  top: 150px;
  left: 36%;
  text-shadow: 5px 5px 10px black;
}
#codigos2{
  font-family: thinly;
  text-align: center;
  font-size: 1.5em;
  color: white;
  position:absolute;
  top: 150px;
  left: 60%;
  text-shadow: 5px 5px 10px black;
}
#codigo a{
color: white;
}
/* termina la seccion de "Codigos" */
/* Esta parte pertenece a la seccion de "Galeria" */
#galee{
  font-family: thinly;
  text-align: center;
  font-size: 2.5em;
  color: white;
  position:absolute;
  top: 100px;
  left: 47%;
  text-shadow: 5px 5px 10px black;
}
.contenedor-izq{
width: 550px;
height: 300px;
background-color: #57A4B5;
position: absolute;
top: 250px;
left: -535px;
box-shadow: 5px 5px 15px #BDBDBD;
border: 1px solid #BDBDBD;
z-index: 400;
padding-left: 15px;
}
.contenedor-izq:hover{
  transition: 0.8s;
  transform: translate(535px);
}

.contenedor-mensaje{
  width: 90%;
  height: 70%,
}

.mensaje-contenedor{
width: 100%;
height: 100%;
text-align: justify;
}

.siguiente{
  width: 45px;
  height: 45px;
  position:absolute;
  top:120px;
  left:93.5%;
}
/* Termina la seccion de "Galeria" */

/* Esta es la seccion de "Escribeme" */
input{
  padding: 3px;
  border-radius: 10px;
}
#s1{
  margin: 10px;
  padding: 20px;
  font-family: thinly;
  text-align: center;
  font-size: 1.5em;
  top: 1980px;
  left: 18%;
  color: white;
  position:absolute;
  text-shadow: 5px 5px 10px black;
}
footer h2{
  position: absolute;
  text-align: center;
  font-family: thinly;
  color: white;
  font-size: 2em;
  top: 2590px;
  left: 45%;
}
#s2{
  font-family: thinly;
  border-style: solid;
  text-align: center;
  background-color: white;
  padding-right: 45px;
  padding-left: 30px;
  font-size: 1.5em;
  top: 2700px;
  left: 33%;
  color: black;
  position:absolute;
  text-shadow: 5px 5px 10px black;
}
#imgcont1{
  position: absolute;
  border-radius: 20px;
  top: 2850px;
  left: 45%;
  width: 50px;
  height: 50px;
}
#imgcont2{
  position: absolute;
  border-radius: 20px;
  top: 2850px;
  left: 55%;
  width: 50px;
  height: 50px;
}
